/Temp
/Library
/QuickUnity.userprefs
/QuickUnity-csharp.sln
/README.md
/Assembly-CSharp.csproj
/Assembly-CSharp-vs.csproj
/QuickUnity.sln
/obj
/UnityVS.QuickUnity.CSharp.csproj
/UnityVS.QuickUnity.sln
/UnityVS.QuickUnity.sln.DotSettings
/UnityVS.QuickUnity.v12.suo
/Assets/UnityVS
